{% extends 'layout.twig' %}
{% block title %}Create Article{% endblock %}
{% block content %}
    <div class="py-3">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="overflow-hidden sm:rounded-lg">
                <div class="p-6 border-gray-200">
                    <h1 class="text-xl font-bold mb-3">Create a new Article</h1>
                    <form method="POST" action="/articles">
                        <div class="mb-4">
                            <label for="title" class="text-xl text-gray-600">Title<span
                                        class="text-red-500">*</span></label>
                            <input type="text" name="title" id="title" class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                                   value="{{ session._flash.title }}" required>
                        </div>

                        <div class="">
                            <label for="body" class="text-xl text-gray-600">Content <span
                                        class="text-red-500">*</span></label>
                            <textarea id="body" name="body" class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" rows="15"
                                      required>{{ session._flash.body }}</textarea>
                        </div>

                        <small class="text-red-500">{{ session._flash.errors }}</small><br>

                        <div class="flex p-1 justify-end">
                            <button type="submit" class="h-10 px-5 m-2 text-blue-100 transition-colors duration-150 bg-blue-600 rounded-lg focus:shadow-outline hover:bg-blue-700">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}