<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}News Feed</title>
    {% endblock %}
</head>
<body class="bg-slate-100">
<div class="max-w-screen">
    <!-- header -->
    <header class="flex items-center justify-between py-4 px-10 bg-[#61346B]">
        <a href="/" class="px-2 lg:px-0 font-bold capitalize text-white">
            Quite Useless News
        </a>
        <span class="ml-10 px-6 md:px-4 text-white font-semibold font-sm">
            <small>{{ 'now'|date('d-m-Y H:m:s') }}</small>
        </span>
        <ul class="md:inline-flex items-center">
            <li class="px-2 md:px-4">
                <a href="/" class="text-white font-semibold hover:text-black"> Home </a>
            </li>
            <li class="px-2 md:px-4">
                <a href="/articles" class="text-white font-semibold hover:text-black"> Articles </a>
            </li>
            <li class="px-2 md:px-4">
                <a href="/users" class="text-white font-semibold hover:text-black"> Users </a>
            </li>
        </ul>

    </header>
    <div id="content" class="max-w-screen mx-20">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</div>
</body>
</html>